.github/** export-ignore
.vscode/** export-ignore
.gitignore export-ignore
.gitattributes export-ignore

*.md export-ignore
*.png export-ignore
LICENSE export-ignore

*_test.go export-ignore
*test*/ export-ignore

prof export-ignore
prof_web_doc/ export-ignore